numpy>=1.17
ipython
jupyter
ipykernel
future
termcolor
torch
torchvision
tb-nightly
matplotlib
scipy
sphinx
nbsphinx
sphinx-gallery==0.3.1
pandoc
pypandoc
numpy
graphviz
sortedcontainers
docutils
pandas
